{{#with openapi}}
swagger: {{ swagger }}
info:
  title: {{ info.title }}
  version: {{ info.version }}
paths:
{{#each paths}}
  {{@key}}:
{{#each this}}
    {{@key}}:
      responses:
{{#each this.responses}}
        {{@key}}:
          description: {{ this.description }}
{{/each}}{{! responses }}
{{/each}}{{! path operations }}
{{/each}}{{! paths }}
{{/with}}
